!!!
%html
  %head
    %title Templette
    = stylesheet_tag 'main', :rel => 'stylesheet', :media => 'all'
  %body
    %h1 Templette
    .nav
      %a{:href=>'/'} Templette
      %a{:href=>'/rdoc'}Rdoc
      %a{:href=>'http://github.com/jdunphy/templette'}Source
    .smallnav
      %a{:href => '/pages.html'} Pages
      %a{:href => '/templates.html'} Templates
      %a{:href => '/tag-methods.html'} Tag Methods
    .content= body
    .footer
      Last updated:
      = current_date
